@model IEnumerable<prjShanLiang.Models.Store>

@{
    ViewData["Title"] = "List";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>店家資料一覽表</h1>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>


@*<h1>店家資料一覽表</h1>
<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-store"></i>
        店家資料
    </div>
    <div class="card-body">

        <table id="datatables" class="hover cell-border order-column order-column">
            <thead>
                <tr>
                    <th>店家編號</th>
                    <th>店家帳號</th>
                    <th>店家名稱</th>
                    <th>店家統編</th>
                    <th>店家電話</th>
                    <th>店家地址</th>
                    <th>店家信箱</th>
                    <th>店家網站</th>
                    <th>店家座位</th>
                    <th>開始營業時間</th>
                    <th>結束營業時間</th>
                    <th>店家圖片</th>
                    <th>設定</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@Html.DisplayFor(modelItem => item.AccountName)</td>
                            <td>@Html.DisplayFor(modelItem => item.RestaurantName)</td>
                            <td>@Html.DisplayFor(modelItem => item.TaxId)</td>
                            <td>@Html.DisplayFor(modelItem => item.RestaurantPhone)</td>
                            <td>@Html.DisplayFor(modelItem => item.RestaurantAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.StoreMail)</td>
                            <td>@Html.DisplayFor(modelItem => item.Website)</td>
                            <td>@Html.DisplayFor(modelItem => item.Seats)</td>
                            <td>@Html.DisplayFor(modelItem => item.OpeningTime)</td>
                            <td>@Html.DisplayFor(modelItem => item.ClosingTime)</td>
                            <td>@Html.DisplayFor(modelItem => item.TaxId)</td>

                            <td>
                                @Html.ActionLink("修改", "Edit", new { id = item.MemberId }, new {Class="btn btn-outline-primary"})
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>*@
