@model IEnumerable<prjShanLiang.Models.MealOrder>

@{
    ViewData["Title"] = "所有訂單";
}
<main id="main">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->

<table class="table table-dark table-striped-columns">
    <thead>
                <tr style="text-align:center;font-size:20px;">
            <th >
                訂單編號
            </th>
            <th>
                會員
            </th>
            <th>
                店家ID
            </th>
            <th>
                總金額
            </th>
            <th>
                訂單狀態
            </th>
            <th>
                備註
            </th>
            <th>
                訂單時間
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                            @Html.ActionLink("明細", "Details","Shopping", new { /* id=item.PrimaryKey */ },new{ @class = "btn btn-danger"}) |
                            @Html.ActionLink("已確認", "OK","Shopping", new { /* id=item.PrimaryKey */ },new{ @class = "btn btn-primary"}) |
                            @Html.ActionLink("已取餐", "END","Shopping", new { /* id=item.PrimaryKey */ },new{ @class = "btn btn-warning"})
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</main><!-- End #main -->