@model List<prjShanLiang.Models.CShoppingCartItem>

@{
    ViewBag.Title = "完成訂單";
}
<style>
    .marg {
        margin: 10px;
    }

    .texbox {
        width: 150px;
    }
</style>
<main id="main">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>@ViewData["Title"]</h2>
                    <ol>
                        <li><a asp-controller="Store" asp-action="List">Store</a></li>
                        <li>Latest</li>
                    </ol>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->

        <div class="col-15 col-md-10 col-lg-4 " style="margin:10px; font-size:16px; ">
            <div class="card" style="background-color:orange;">
                <h2 class=text-center style="margin:20px; font-size:40px;">餐點內容</h2>

                <table class="table">
                    <tr>
                        <th>
                            餐點
                        </th>
                        <th>
                            數量
                        </th>
                        <th>
                            售價
                        </th>
                        <th>
                            小計
                        </th>
                    </tr>
                    @{
                        decimal pay = 0;
                        decimal tax = 0;
                        decimal sum = 0;

                        foreach (var item in Model)
                        {
                            pay += item.小計;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.mealmenu.MealName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.count)
                                </td>
                                <td>
                                    NT$ @Html.DisplayFor(modelItem => item.price)
                                </td>
                                <td>
                                    NT$ @Html.DisplayFor(modelItem => item.小計)
                                </td>
                            </tr>
                        }
                        tax = pay * 0.1M;
                        sum = pay + tax;
                    }
                </table>
                <br />
                <div style="margin:20px;">
                    <li>餐點金額:NT$@pay.ToString("###,###,##0")</li>

                    <li>服  務  費:NT$@tax.ToString("###,###,##0")</li>

                    <li>應付金額:NT$@sum.ToString("###,###,##0")</li>

                </div>



            </div>
        </div>

        <div class="col-15 col-md-10 col-lg-4 " style="margin:10px; font-size:16px;">
            <div class="card" style="background-color:orange;">
                <h2 class=text-center style="margin:20px; font-size:40px;">訂單資料</h2>
                <div class="card-body" style="">

                    <hr>

                    <div style="display:flex;">
                        <div class="marg">
                            <h2>訂購人姓名</h2>
                            @Html.TextBox("txtOName","克里斯",new { @class = "texbox" })

                        </div>
                        <div class="marg">
                            <h2>訂購人電話</h2>
                            @Html.TextBox("txtOPhone","0983385155",new { @class = "texbox" })
                        </div>
                    </div>
                    <hr />
                    <div style="display:flex;">
                        <div class="marg">
                            <h2>取餐人姓名</h2>
                            @Html.TextBox("txtOName","克里斯",new { @class = "texbox" })

                        </div>
                        <div class="marg">
                            <h2>取餐人電話</h2>
                            @Html.TextBox("txtOPhone","0983385155",new { @class = "texbox" })
                        </div>
                    </div>
                    <hr />
                    <div style="display:flex; ">
                        <div class="marg">
                            <h2>訂單狀態</h2>
                            <h4>付款完成</h4>
                        </div>
                        <div class="marg" style="margin-left:50px;">
                            <h2>付款方式</h2>
                            <h4> @Html.Label("paymentMethod", "現金付款")</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->