@model List<prjShanLiang.Models.CShoppingCartItem>

@{
    ViewBag.Title = "完成訂單";
}
<style>
    body {
        font-size: 15px;
        background-color: #E0E0E0;
    }

    .marg {
        margin: 20px 30px 0px 30px;
        width: 200px;
        height: 100px;
    }

    .btn {
        width: 100px;
    }

    .mealcard {
        margin: 20px;
        height: 600px;
        font-size: 16px;
        text-align: center;
    }
</style>
<main id="main">
    
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" style="background-color:orange;">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>@ViewData["Title"]</h2>

                </div>
            </div>
        </div><!-- End Breadcrumbs -->
    <div class="container aos-init " data-aos="fade-up">
        <div class="col-12 col-md-12 col-lg-6 ">
            <div class=" shadow p-3 mb-5 bg-light  mealcard">
                <div>
                    <h1 class="text-center " style="margin:10px; font-size:40px;">餐點內容</h1>
                    <table class="table table-striped">
                        <tr>
                            <th>
                                餐點
                            </th>
                            <th>
                                數量
                            </th>
                            <th>
                                售價
                            </th>
                            <th>
                                小計
                            </th>
                        </tr>
                        @{
                            int pay = 0;
                            decimal fin = 0;
                            foreach (var item in Model)
                            {
                                pay += item.小計;
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mealmenu.MealName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.count)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.price)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(modelItem => item.小計)
                                    </td>
                                </tr>
                            }
                            fin = pay;
                        }
                    </table>
                    <br />
                    <div style=" color:red;font-size:30px;">
                        
                        總計: $@pay 元
                        <p id="finalAmount">應付: $@ViewBag.fin 元</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-6 ">
            <div class=" shadow p-3 mb-5  bg-light mealcard">
                <h1 class="text-center" style="margin:10px; font-size:40px;">訂單資料</h1>
                <div class="card-body">
                    <div style="display:flex;">
                        <div class="marg">
                            <p>訂購人姓名</p>
                            <p>@ViewBag.MemberName</p>
                        </div>
                        <div class="marg">
                            <p>訂購人電話</p>
                            <p>@ViewBag.MemberPhone</p>
                        </div>

                    </div>
                    <div style="display:flex;">
                        <div class="marg">
                            <p>訂單狀態</p>
                            <p style="color:red;">付款完成</p>
                        </div>
                        <div class="marg">
                            <p>付款方式</p>
                            <p>@ViewBag.paymethod</p>
                        </div>
                    </div>
                    <br />
                    <br />
                    <p>備註:@ViewBag.Remark</p>
                </div>
                @Html.ActionLink("檢視我的訂單", "MyMealOrder", "Shopping", new{ id = ViewBag.MemberId}, new { @class = "btn btn-primary",style="margin:20px;"} )
            </div>
        </div>
    </div>
</main><!-- End #main -->