@model List<prjShanLiang.Models.CShoppingCartItem>

@{
    ViewBag.Title = "完成訂單";
}
<style>
    body {
        font-size: 15px;
        background-color: #E0E0E0;
    }
    .marg {
        margin: 20px 50px 0px 50px;
        width: 120px;
        height: 100px;
    }

    .btn {
        width: 100px;
    }

    li {
        font-size: 20px;
    }
    .divcard {
        margin: 30px 50px 30px 100px;
        font-size: 16px;
        text-align: center;
    }

    .card {
        width: 500px;
        height: 600px;
        margin: 10px 0px 20px 20px;
        padding: 15px;
    }
    label{
    font-size:20px;
    }
</style>
<main id="main">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>@ViewData["Title"]</h2>  
                    
                </div>
            </div>
        </div><!-- End Breadcrumbs -->

        <div class="col-15 col-md-10 col-lg-4 divcard">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <h2 class=text-center style="margin:20px; font-size:40px;">餐點內容</h2>

                <table class="table table-striped">
                    <tr>
                        <th>
                            餐點
                        </th>
                        <th>
                            數量
                        </th>
                        <th>
                            售價
                        </th>
                        <th>
                            小計
                        </th>
                    </tr>
                    @{
                        int pay = 0;
                        

                        foreach (var item in Model)
                        {
                            pay += item.小計;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.mealmenu.MealName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.count)
                                </td>
                                <td>
                                    NT$ @Html.DisplayFor(modelItem => item.price)
                                </td>
                                <td>
                                    NT$ @Html.DisplayFor(modelItem => item.小計)
                                </td>
                            </tr>
                        }                        
                    }
                </table>
                <br />
                <div style="margin:20px;color:red;font-size:30px;">
                    總計: $@pay 元
                </div>
            </div>
        </div>

        <div class="col-15 col-md-10 col-lg-4 divcard">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <h2 class=text-center style="margin:20px; font-size:40px;">訂單資料</h2>
                <div class="card-body">
                    <hr>
                    <div style="display:flex;">
                        <div class="marg">
                            <label>訂購人姓名</label>
                            <p>@ViewBag.MemberName</p>
                        </div>
                        <div class="marg">
                            <label>訂購人電話</label>
                            <p>@ViewBag.MemberPhone</p>
                        </div>
                    </div>
                    <hr />
                    
                    <div style="display:flex; ">
                        <div class="marg">
                            <label>訂單狀態</label>
                            <p>付款完成</p>
                        </div>
                        <div class="marg" style="margin-left:50px;">
                            <label>付款方式</label>
                            <p>@ViewBag.paymethod</p>
                        </div>
                    </div>   
                    <hr />                    
                    <div style="margin-bottom:10px; color:red;font-size:30px;">
                        應付:$ @ViewBag.fin 元
                    </div>
                    <p>備註:@ViewBag.Remark</p>                    
                </div>  
                @Html.ActionLink("檢視我的訂單", "MyMealOrder", "Shopping", new{ id = ViewBag.MemberId}, new { @class = "btn btn-primary",style="margin:20px;"} )
            </div>           
        </div>       
    </div>
</main><!-- End #main -->