@model IEnumerable<prjShanLiang.Models.MealOrder>

@{
    ViewData["Title"] = "所有訂單";
}
@section Styles{
    <style>
        body {
            font-size: 15px;
            background-color: #E0E0E0;
        }

        .modal-content {
            background-color: white;
            margin: 10% auto;
            padding: 20px;            
            width: 100%;
        }

        .order-status{
            text-align:center;
        }
    </style>
}

<!-- Modal互動視窗 -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size:30px; margin-left:150px;">訂單明細</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                序號
                            </th>
                            <th>
                                餐點名稱
                            </th>
                            <th>
                                數量
                            </th>
                            <th>
                                單價
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table1">
                        @*訂單明細出現在這*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<main id="main">
    
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" style="background-color:orange;">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->
    <div class="container aos-init " data-aos="fade-up">
        <table class="table table-dark table-hover table-striped-columns">
            <thead>
                <tr style="text-align:center;font-size:20px;">
                    <th>
                        訂單編號
                    </th>
                    <th>
                        會員
                    </th>
                    <th>
                        總金額
                    </th>
                    <th>
                        訂單狀態
                    </th>
                    <th>
                        備註
                    </th>
                    <th>
                        訂單時間
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="text-align:center;">
                        <td>
                            @item.OrderId
                        </td>
                        <td>
                            @item.Member.MemberName
                        </td>
                        <td>
                            $@Convert.ToInt16(item.Total)
                        </td>
                        <td class="order-status">
                            @item.OrderStatusNavigation.StatusName
                        </td>
                        <td>
                            @item.Remark
                        </td>
                        <td>
                            @item.OrderDate
                        </td>
                        <td>
                            <div type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" onclick="con(@item.OrderId)">明細</div> |
                            <input type="button" value="已確認訂單" onclick="Check(OrderId=@item.OrderId,8,event)" class="btn btn-primary"> |
                            <input type="button" value="取餐完成" onclick="Check(OrderId=@item.OrderId,9,event)" class="btn btn-warning">                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main><!-- End #main -->

@section Scripts{
    <script>
        @*顯示訂單明細
        按下明細按鈕觸發這個方法並傳OrderId進來
        傳回後端撈明細資料 再傳回json解析成data
        使用map把每一筆資料拿出來v=value,i=序列
        排成清單表格放到Model*@
            async function con(id) {
                const dataTbody = document.getElementById('table1')
                const res = await fetch('@Url.Content("~/Shopping/MyMealOrderDetail")?id=' + id);
                const data = await res.json();

                const htmlData = data.map((v, i) => {
                    return `<tr><td>${i + 1}</td><td>${v.mealName}</td><td>${v.quantity}</td><td>${v.mealPrice}</td></tr>`
                });
                dataTbody.innerHTML = htmlData.join("");
            };
    </script>
    <script>
        function Check(OrderId,Status,event) {
            $.ajax({
                url: "/api/shoppingcart/CheckOrder",
                type: "POST",
                data: { OrderId: OrderId, Status: Status }, // 傳遞參數             
                success: function (data) {
                    if (data.success) {
                        alert("修改狀態成功");
                        //同時修改狀態
                        var btn = event.target; // 取得觸發事件的按鈕元素
                        var tr = btn.closest('tr'); // 取得最近的 <tr> 元素
                        var element = tr.querySelector('.order-status'); // 在父元素中尋找符合條件的子元素
                        element.innerHTML = btn.value; // 設定顯示為按鈕的文字
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("修改狀態失敗");
                }
            });
        }  
    </script>
    }