@model IEnumerable<prjShanLiang.Models.MealMenu>
@{
    ViewData["Title"] = "訂餐";
}
@section Styles{
    <style>
        .toTop-arrow {
            width: 4.3rem;
            height: 4.3rem;
            padding: 0;
            margin: 0;
            border: 0;
            border-radius: 33%;
            opacity: 0.6;
            background: #000;
            cursor: pointer;
            position: fixed;
            right: 1rem;
            bottom: 8rem;
            display: none;
        }

            .toTop-arrow::before, .toTop-arrow::after {
                width: 25px;
                height: 6px;
                border-radius: 3px;
                background: #f90;
                position: absolute;
                content: "";
            }

            .toTop-arrow::before {
                transform: rotate(-45deg) translate(0, -50%);
                left: 0.42rem;
            }

            .toTop-arrow::after {
                transform: rotate(45deg) translate(0, -50%);
                right: 0.42rem;
            }

            .toTop-arrow:focus {
                outline: none;
            }
        /*=====================以上是回到最上層的CSS=========================*/
        body{
        font-size:15px;
        background-color:#E0E0E0;
        }
        .my-image {
            width: 600px;
            height: auto;
        }

        .form-group .form-control {
            margin-bottom: 10px;
        }

        .Top-image {
            display: block;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }

        .Meal-image {
            display: block;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }

        .row {
            display: block;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            font-size: 14px;
        }

        .card {
            width: 400px;
            height: 450px;
            margin: 10px 0px 20px 20px; 
            border:3px solid orange;  
            
        }
        @*價錢數量按鈕區塊*@
        .divCountMoney{            
            display: flex;
            margin: 10px 10px 10px 30px;
        }
        @*價錢數量按鈕三個元素*@
        .CountMoney{
        margin:10px;
        }
    </style>
}

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        //回到最頂端功能
        $(function () {
            $('#BackTop').click(function () {
                $('html,body').animate({ scrollTop: 0 }, 333);
            });
            $(window).scroll(function () {
                if ($(this).scrollTop() > 300) {
                    $('#BackTop').fadeIn(222);
                } else {
                    $('#BackTop').stop().fadeOut(222);
                }
            }).scroll();
        }); 
    </script>
     
<script>
    // 使用Ajax非同步增加餐點到購物車

     function con(id) {

        var count = $('#' + id).val();
        const liveToastBtn = document.getElementById('liveToastBtn')
        const toastLiveExample = document.getElementById('liveToast')
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)


        $.ajax({
            url: "/api/shoppingcart/add-to-cart?id=" + id + "&count=" + count,
            type: "GET",

            success: function (data) {
                if (data.success) {
                    toastBootstrap.show();
                     //在成功回應中發起另一個AJAX請求來更新購物車數量
                    $.ajax({
                        url: "/api/shoppingcart/showcartcount",
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                $('.cartQuantity').text(data.cartCount); // 更新顯示購物車數量的元素
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert("無法獲取購物車數量");
                        }
                    });
                } else {
                    alert(data.message);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("加入購物車失敗");
            }
        });
    };
</script>   
}
<button type="button" id="BackTop" class="toTop-arrow"></button>   @*回到最上層按鈕*@

@*跳出已加入購物車視窗*@
<div class="toast-container position-fixed top-0 end-0 p-3" style="width:250px;">
    <div id="liveToast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">

            <strong class="me-auto">提示</strong>

            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" style="font-size:16px; text-align:center">
            已加入購物車
        </div>
    </div>
</div>

<main id="main">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!-- ======= Breadcrumbs ======= -->
 
        @*照片輪播*@
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">          
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="~/images/Menu//top/1.jpg" class="d-block w-100 ">
                </div>                
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/Menu//top/2.jpg" class="d-block w-100 ">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/Menu//top/3.jpg" class="d-block w-100 ">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/Menu//top/4.jpg" class="d-block w-100 ">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/Menu//top/5.jpg" class="d-block w-100 ">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/Menu//top/6.jpg" class="d-block w-100 ">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/Menu//top/7.jpg" class="d-block w-100 ">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/Menu/top/8.jpg" class="d-block w-100 ">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/images/Menu/top/9.jpg" class="d-block w-100 ">
                </div>               
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
               
        @*店家資訊*@        
          <div>
           <div class=" shadow p-3 mb-5 bg-white rounded rounded-pill border border-0" style="margin:30px 30px 0px 30px;">
             <div style="text-align:center">
              <h1 style="font-size:40px;">@ViewBag.RestaurantName</h1>
              <p>@ViewBag.RestaurantAddress</p>
              <p>@ViewBag.RestaurantPhone</p>
              <input type="hidden" value="@ViewBag.StoreId" />
             </div>
           </div>
        </div> 
         
        @*商品區塊*@
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-10 col-md-10 col-lg-4 " >
                    <div class="card shadow p-3 mb-5 bg-white rounded-5" >

                        <img src="~/Images/Menu/@item.MealImagePath" class="Meal-image rounded-4" style="margin-top:20px;">

                        <div class="card-body">
                            <h1 class=text-center>@item.MealName</h1>
                            <div class="divCountMoney">
                                <input class="txtMealId" type="hidden" name="txtMealId" value="@item.MealId" />
                                <p class="CountMoney"style="font-size:18px;">                                    
                                    NT$@Convert.ToInt16(item.MealPrice)
                                </p>
                                <p class="CountMoney">
                                    @Html.DropDownList("txtCount", new SelectList(new List<int> { 1, 2, 3, 4, 5}), new { @class = "form-control ",id=item.MealId , style="width:100px;"})
                                </p>
                                <p class="CountMoney">
                                    <input type="button" value="加入購物車" class="btn btn-warning " onclick="con(@item.MealId)" id="liveToastBtn" />
                                </p>
                            </div>                            
                            <p >@item.Recommendation</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main><!-- End #main -->
