@model IEnumerable<prjShanLiang.Models.MealMenu>
@{
    ViewData["Title"] = "訂餐頁面";
}
<style>
    .toTop-arrow {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 33%;
        opacity: 0.6;
        background: #000;
        cursor: pointer;
        position: fixed;
        right: 1rem;
        bottom: 5rem;
        display: none;
    }

        .toTop-arrow::before, .toTop-arrow::after {
            width: 18px;
            height: 5px;
            border-radius: 3px;
            background: #f90;
            position: absolute;
            content: "";
        }

        .toTop-arrow::before {
            transform: rotate(-45deg) translate(0, -50%);
            left: 0.5rem;
        }

        .toTop-arrow::after {
            transform: rotate(45deg) translate(0, -50%);
            right: 0.5rem;
        }

        .toTop-arrow:focus {
            outline: none;
        }

    /*=================================================*/
    .form-group .form-control {
        margin-bottom: 10px;
    }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<button type="button" id="BackTop" class="toTop-arrow"></button>
<script>
    //回到最頂端功能
    $(function () {
        $('#BackTop').click(function () {
            $('html,body').animate({ scrollTop: 0 }, 333);
        });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#BackTop').fadeIn(222);
            } else {
                $('#BackTop').stop().fadeOut(222);
            }
        }).scroll();
    });
</script>

<img src="~/images/膳糧食堂.jpg" width=100% height=100% />
<h1>膳糧食堂 大安店</h1>
<p>台北市大安區復興南路一段390號2樓</p>
<p>(02)6631-6588</p>
<div>
    @Html.ActionLink("檢視購物車","CartView","Shopping",null,new { @class = "btn btn-primary" })
    <img src="~/images/購物車.png" />
</div>
<div class="row">
    @foreach (var item in Model)
    {      
        string imgName = item.MealImagePath; //照片路徑轉字串
       
        <div class="col-12 col-md-4" style="margin-top:20px;">
            <div class="img-thumbnail">
                <img src="~/images/@imgName" width=100% />   @*餐點圖片*@
                <h2>@item.MealName</h2>                      @*餐點名稱*@
                <p>NT$:@item.MealPrice</p>                   @*餐點價格*@
                <div class="form-group">
                    @*@Html.ActionLink("加入購物車", "AddToCart","Shopping", new { id = item.MealId },new { @class = "btn btn-primary" })*@
                    @using (Html.BeginForm("AddToCart", "Shopping", FormMethod.Post))
                    {
                        <input type="hidden" name="txtMealId" value="@item.MealId" />


                        <div class="form-group">
                            <div class="col-md-offset-0 col-md-10">
                                數量
                            </div>
                            <div class="col-md-10">
                                @Html.DropDownList("txtCount", new SelectList(new List<int> { 1, 2, 3, 4, 5, 6, 7, 8, 9,10 }), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-0 col-md-10">
                                <input type="submit" value="加入購物車" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                </div> 
                <p>@item.Recommendation</p>                 @*餐點介紹*@
            </div>
        </div>
    }
</div>







