@model IEnumerable<prjShanLiang.Models.MealOrder>

@{
    ViewData["Title"] = "我的訂單紀錄";
}
@section Styles{
    <style>
        body {
            font-size: 15px;
            background-color: #E0E0E0;
        }

        .modal-content {
            background-color: white;
            margin: 10% auto;
            padding: 20px;
            width: 100%;
        }
    </style>
}

<!-- Modal互動視窗 -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size:30px; margin-left:150px;">訂單明細</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                序號
                            </th>
                            <th>
                                餐點名稱
                            </th>
                            <th>
                                數量
                            </th>
                            <th>
                                單價
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table1">
                        @*訂單明細出現在這*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<main id="main">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" style="background-color:orange;">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>@ViewData["Title"]</h2>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->
        <div class="rounded-5" style="margin:20px;padding:20px; background-color:white; border:2px solid orange;">
            <table class="table table-striped">
                <thead>
                    <tr style="text-align:center;font-size:20px;background-color:deepskyblue;">
                        <th>
                            序號
                        </th>
                        <th>
                            訂單編號
                        </th>
                        <th>
                            店家
                        </th>
                        <th>
                            金額
                        </th>
                        <th>
                            訂單狀態
                        </th>

                        <th>
                            訂單時間
                        </th>
                        <th>
                            備註
                        </th>
                        <th>
                            明細
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count1 = 0;
                        foreach (var item in Model)
                        {
                            count1++;
                            <tr style="text-align:center;">
                                <td>
                                    @count1
                                </td>
                                <td>
                                    @item.OrderId
                                </td>
                                <td>
                                    @item.Store.RestaurantName
                                </td>
                                <td>
                                    $@Convert.ToInt16(item.Total)
                                </td>
                                <td>
                                    @item.OrderStatusNavigation.StatusName
                                </td>
                                <td>
                                    @item.OrderDate
                                </td>
                                <td>
                                    @item.Remark
                                </td>
                                <td>
                                    <!-- 按下觸發Model互動視窗 並觸發con(OrderId)方法 -->
                                    <div type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal" onclick="con(@item.OrderId)">
                                        明細
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</main><!-- End #main -->
@section Scripts{
    @* <script>
        const stars = document.querySelectorAll('.stars');
        function getStar(event, n) {
            for (let i = 1; i <= n; i++) {
                event.target.innerHTML += '<i class="bi bi-star-fill"></i>';
            }
            for (let i = 1; i <= (5 - n); i++) {
                event.target.innerHTML += '<i class="bi bi-star"></i>';
            }
        }
        for (i = 0; i < stars.length; i++) {
            stars[i].click();
        }
    </script>*@
    <script>
        @*顯示訂單明細
        按下明細按鈕觸發這個方法並傳OrderId進來
        傳回後端撈明細資料 再傳回json解析成data
        使用map把每一筆資料拿出來v=value,i=序列
        排成清單表格放到Model*@
            async function con(id) {
                const dataTbody = document.getElementById('table1')
                const res = await fetch('@Url.Content("~/Shopping/MyMealOrderDetail")?id=' + id);
                const data = await res.json();

                const htmlData = data.map((v, i) => {
                    return `<tr><td>${i + 1}</td><td>${v.mealName}</td><td>${v.quantity}</td><td>${v.mealPrice}</td></tr>`
                });
                dataTbody.innerHTML = htmlData.join("");
            };

    </script>
    }