@model IEnumerable<prjShanLiang.Models.MealMenu>

@{
    ViewData["Title"] = "上架中餐點";
}
@section Styles{
    <style>
        .toTop-arrow {
            width: 4.3rem;
            height: 4.3rem;
            padding: 0;
            margin: 0;
            border: 0;
            border-radius: 33%;
            opacity: 0.6;
            background: #000;
            cursor: pointer;
            position: fixed;
            right: 1rem;
            bottom: 8rem;
            display: none;
        }

            .toTop-arrow::before, .toTop-arrow::after {
                width: 25px;
                height: 6px;
                border-radius: 3px;
                background: #f90;
                position: absolute;
                content: "";
            }

            .toTop-arrow::before {
                transform: rotate(-45deg) translate(0, -50%);
                left: 0.42rem;
            }

            .toTop-arrow::after {
                transform: rotate(45deg) translate(0, -50%);
                right: 0.42rem;
            }

            .toTop-arrow:focus {
                outline: none;
            }
        /*=====================以上是回到最上層的CSS=========================*/
        body {
            font-size: 16px;
            background-color: #E0E0E0;
        }
    </style>
}
@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        //回到最頂端功能
        $(function () {
            $('#BackTop').click(function () {
                $('html,body').animate({ scrollTop: 0 }, 333);
            });
            $(window).scroll(function () {
                if ($(this).scrollTop() > 300) {
                    $('#BackTop').fadeIn(222);
                } else {
                    $('#BackTop').stop().fadeOut(222);
                }
            }).scroll();
        });
    </script>
    }
<button type="button" id="BackTop" class="toTop-arrow"></button>   @*回到最上層按鈕*@

<main id="main">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="breadcrumbs" >
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>@ViewData["Title"]</h2>
                    @Html.ActionLink("新增餐點", "CreateMenu","Shopping",null,new{ @class = "btn btn-primary"})
                </div>               
            </div>
        </div><!-- End Breadcrumbs -->
        <!-- ======= Breadcrumbs ======= -->

        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        序
                    </th>                  
                    <th>
                        餐點名稱
                    </th>
                    <th>
                        $
                    </th>
                    <th>
                        照片
                    </th>
                    <th>
                        描述
                    </th>
                    <th>
                        編輯
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>
                                @count
                            </td>
                           
                            <td>
                                @item.MealName
                            </td>
                            <td>
                                @Convert.ToInt16( item.MealPrice)
                            </td>
                            <td>
                                <img src="~/Images/Menu/@item.MealImagePath" class="rounded-4"style="width:80%;">
                            </td>
                            <td>
                                @item.Recommendation
                            </td>
                            <td>
                                @Html.ActionLink("修改", "EditMenu","Shopping",new{ MealId=item.MealId },new{ @class = "btn btn-warning"})
                            </td>
                            <td>
                                @Html.ActionLink("刪除", "Delete", new { /* id=item.PrimaryKey */ },new{ @class = "btn btn-danger"})
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</main><!-- End #main -->