@model IEnumerable<prjShanLiang.Models.Store>

@{
    ViewData["Title"] = "人氣餐廳";
}

<main id="main">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>@ViewData["Title"]</h2>
                    <ol>
                        <li><a asp-controller="Store" asp-action="List">Store</a></li>
                        <li>Recommend</li>
                    </ol>
                </div>

            </div>
        </div><!-- End Breadcrumbs -->

        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.RestaurantName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RestaurantAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RestaurantPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OpeningTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClosingTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @Html.ActionLink(item.RestaurantName,"Restaurant",new {  id=item.StoreId  },null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RestaurantAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RestaurantPhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OpeningTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClosingTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @Html.ActionLink("分享", "Share", new {  id=item.StoreId  }) |
                                @Html.ActionLink("收藏", "AddToKeep", new {  id=item.StoreId  })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</main>

