@model prjShanLiang.Models.StoreReserved

@{
    ViewData["Title"] = "線上訂位";
}
<link rel="stylesheet" href="~/css/Reserve.css" />
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" style="background-color:orange;">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>選擇預約時段</h2>
                <ol>
                    <li><a a asp-controller="Store" asp-action="List">Store</a></li>
                    <li>Reserve</li>
                </ol>
            </div>
        </div>
    </div><!-- End Breadcrumbs -->

    <div class="container">
        <hr />
        <div class="col-md-5-alter">
            <form asp-action="Reserve">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="ReservationId" class="control-label"></label>
                    <input asp-for="ReservationId" class="form-control" />
                    <span asp-validation-for="ReservationId" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="StoreId" class="control-label"></label>
                    <input asp-for="StoreId" class="form-control" value="@ViewBag.Id" />
                    <span asp-validation-for="StoreId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label">指定日期</label>
                    <input asp-for="Date" class="form-control" type="date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <table class="table">
                    <thead class="future-reserve-header" id="future_reserve_header" style="display: table-header-group;">
                        <tr>
                            <th>時間</th>
                            <th>分鐘</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="future_reserve_button" class="future-reserve-button">
                        <tr>
                            <td><span class="hour_num">11</span></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_11_min_00" class="btn min-click fc-quaternary" value="11:00" data-min="00" data-hour="11">11:00<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_11_min_10" class="btn min-click fc-quaternary" value="11:10" data-min="10" data-hour="11">11:10<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_11_min_20" class="btn min-click fc-quaternary" value="11:20" data-min="20" data-hour="11">11:20<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_11_min_30" class="btn min-click fc-quaternary" value="11:30" data-min="30" data-hour="11">11:30<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_11_min_40" class="btn min-click fc-quaternary" value="11:40" data-min="40" data-hour="11">11:40<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_11_min_50" class="btn min-click fc-quaternary" value="11:50" data-min="50" data-hour="11">11:50<span class="min-active-txt"></span></label></td>
                        </tr>
                        <tr>
                            <td><span class="hour_num">12</span></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_12_min_00" class="btn min-click fc-quaternary" value="12:00" data-min="00" data-hour="12">12:00<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_12_min_10" class="btn min-click fc-quaternary" value="12:10" data-min="10" data-hour="12">12:10<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_12_min_20" class="btn min-click fc-quaternary" value="12:20" data-min="20" data-hour="12">12:20<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_12_min_30" class="btn min-click fc-quaternary" value="12:30" data-min="30" data-hour="12">12:30<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_12_min_40" class="btn min-click fc-quaternary" value="12:40" data-min="40" data-hour="12">12:40<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_12_min_50" class="btn min-click fc-quaternary" value="12:50" data-min="50" data-hour="12">12:50<span class="min-active-txt"></span></label></td>
                        </tr>
                        <tr>
                            <td><span class="hour_num">13</span></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_13_min_00" class="btn min-click fc-quaternary" value="13:00" data-min="00" data-hour="13">13:00<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_13_min_10" class="btn min-click fc-quaternary" value="13:10" data-min="10" data-hour="13">13:10<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_13_min_20" class="btn min-click fc-quaternary" value="13:20" data-min="20" data-hour="13">13:20<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_13_min_30" class="btn min-click fc-quaternary" value="13:30" data-min="30" data-hour="13">13:30<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_13_min_40" class="btn min-click fc-quaternary" value="13:40" data-min="40" data-hour="13">13:40<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_13_min_50" class="btn min-click fc-quaternary" value="13:50" data-min="50" data-hour="13">13:50<span class="min-active-txt"></span></label></td>
                        </tr>
                        <tr>
                            <td><span class="hour_num">14</span></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_14_min_00" class="btn min-click fc-quaternary" value="14:00" data-min="00" data-hour="14">14:00<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_14_min_10" class="btn min-click fc-quaternary" value="14:10" data-min="10" data-hour="14">14:10<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_14_min_20" class="btn min-click fc-quaternary" value="14:20" data-min="20" data-hour="14">14:20<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_14_min_30" class="btn min-click fc-quaternary" value="14:30" data-min="30" data-hour="14">14:30<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_14_min_40" class="btn min-click fc-quaternary" value="14:40" data-min="40" data-hour="14">14:40<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_14_min_50" class="btn min-click fc-quaternary" value="14:50" data-min="50" data-hour="14">14:50<span class="min-active-txt"></span></label></td>
                        </tr>
                        <tr>
                            <td><span class="hour_num">15</span></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_15_min_00" class="btn min-click fc-quaternary" value="15:00" data-min="00" data-hour="15">15:00<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_15_min_10" class="btn min-click fc-quaternary" value="15:10" data-min="10" data-hour="15">15:10<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_15_min_20" class="btn min-click fc-quaternary" value="15:20" data-min="20" data-hour="15">15:20<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_15_min_30" class="btn min-click fc-quaternary" value="15:30" data-min="30" data-hour="15">15:30<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_15_min_40" class="btn min-click fc-quaternary" value="15:40" data-min="40" data-hour="15">15:40<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_15_min_50" class="btn min-click fc-quaternary" value="15:50" data-min="50" data-hour="15">15:50<span class="min-active-txt"></span></label></td>
                        </tr>
                        <tr>
                            <td><span class="hour_num">16</span></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_16_min_00" class="btn min-click fc-quaternary" value="16:00" data-min="00" data-hour="16">16:00<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_16_min_10" class="btn min-click fc-quaternary" value="16:10" data-min="10" data-hour="16">16:10<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_16_min_20" class="btn min-click fc-quaternary" value="16:20" data-min="20" data-hour="16">16:20<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_16_min_30" class="btn min-click fc-quaternary" value="16:30" data-min="30" data-hour="16">16:30<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_16_min_40" class="btn min-click fc-quaternary" value="16:40" data-min="40" data-hour="16">16:40<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_16_min_50" class="btn min-click fc-quaternary" value="16:50" data-min="50" data-hour="16">16:50<span class="min-active-txt"></span></label></td>
                        </tr>
                        <tr>
                            <td><span class="hour_num">17</span></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_17_min_00" class="btn min-click fc-quaternary" value="17:00" data-min="00" data-hour="17">17:00<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_17_min_10" class="btn min-click fc-quaternary" value="17:10" data-min="10" data-hour="17">17:10<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_17_min_20" class="btn min-click fc-quaternary" value="17:20" data-min="20" data-hour="17">17:20<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_17_min_30" class="btn min-click fc-quaternary" value="17:30" data-min="30" data-hour="17">17:30<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_17_min_40" class="btn min-click fc-quaternary" value="17:40" data-min="40" data-hour="17">17:40<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_17_min_50" class="btn min-click fc-quaternary" value="17:50" data-min="50" data-hour="17">17:50<span class="min-active-txt"></span></label></td>
                        </tr>
                        <tr>
                            <td><span class="hour_num">18</span></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_18_min_00" class="btn min-click fc-quaternary" value="18:00" data-min="00" data-hour="18">18:00<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_18_min_10" class="btn min-click fc-quaternary" value="18:10" data-min="10" data-hour="18">18:10<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_18_min_20" class="btn min-click fc-quaternary" value="18:20" data-min="20" data-hour="18">18:20<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_18_min_30" class="btn min-click fc-quaternary" value="18:30" data-min="30" data-hour="18">18:30<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_18_min_40" class="btn min-click fc-quaternary" value="18:40" data-min="40" data-hour="18">18:40<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_18_min_50" class="btn min-click fc-quaternary" value="18:50" data-min="50" data-hour="18">18:50<span class="min-active-txt"></span></label></td>
                        </tr>
                        <tr>
                            <td><span class="hour_num">19</span></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_19_min_00" class="btn min-click fc-quaternary" value="19:00" data-min="00" data-hour="19">19:00<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_19_min_10" class="btn min-click fc-quaternary" value="19:10" data-min="10" data-hour="19">19:10<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_19_min_20" class="btn min-click fc-quaternary" value="19:20" data-min="20" data-hour="19">19:20<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_19_min_30" class="btn min-click fc-quaternary" value="19:30" data-min="30" data-hour="19">19:30<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_19_min_40" class="btn min-click fc-quaternary" value="19:40" data-min="40" data-hour="19">19:40<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_19_min_50" class="btn min-click fc-quaternary" value="19:50" data-min="50" data-hour="19">19:50<span class="min-active-txt"></span></label></td>
                        </tr>
                        <tr>
                            <td><span class="hour_num">20</span></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_20_min_00" class="btn min-click fc-quaternary" value="20:00" data-min="00" data-hour="20">20:00<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_20_min_10" class="btn min-click fc-quaternary" value="20:10" data-min="10" data-hour="20">20:10<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_20_min_20" class="btn min-click fc-quaternary" value="20:20" data-min="20" data-hour="20">20:20<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_20_min_30" class="btn min-click fc-quaternary" value="20:30" data-min="30" data-hour="20">20:30<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_20_min_40" class="btn min-click fc-quaternary" value="20:40" data-min="40" data-hour="20">20:40<span class="min-active-txt"></span></label></td>
                            <td><label class="min-active"><input type="radio" name="reserve-radio" style="display:none;" id="hour_20_min_50" class="btn min-click fc-quaternary" value="20:50" data-min="50" data-hour="20">20:50<span class="min-active-txt"></span></label></td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-group" hidden>
                    <label asp-for="Time" class="control-label"></label>
                    <input asp-for="Time" class="form-control" id="Time" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="MemberId" class="control-label"></label>
                    <input asp-for="MemberId" class="form-control" value="@ViewBag.mid" />
                    <span asp-validation-for="MemberId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumOfPeople" class="control-label">人數</label>
                    <input asp-for="NumOfPeople" class="form-control" placeholder="請選擇人數" value="1" max="9" min="1" />
                    <span asp-validation-for="NumOfPeople" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="CouponId" class="control-label">Coupon號碼</label>
                    <input asp-for="CouponId" class="form-control" />
                    <span asp-validation-for="CouponId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="submit" type="button" value="送出" class="btn btn-primary" />
                    <a asp-action="Restaurant" asp-route-id="@ViewBag.Id">取消</a>
                </div>
            </form>
        </div>
    </div>
    <!-- Alert -->

    <div id="alert_block">
    </div>

</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const radio = document.querySelectorAll('.min-click');
        const span = document.querySelectorAll('.min-active-txt');
        const time = document.getElementById('Time');
        const nofp = document.getElementById('NumOfPeople');
        const post = document.querySelector('#submit');

        //日期
        const dateControl = document.querySelector('input[type="date"]');
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        dateControl.value = today;
        dateControl.min = today;


        for (var i = 0; i < radio.length; i++) {
            radio[i].addEventListener('click', function () {
                time.value = this.getAttribute("data-hour") + this.getAttribute("data-min");
            });//讓所有時段點擊時取得Time
        }

        post.addEventListener('click', function () {
            getResult();
        }, false);//送出時getResult判斷是否有座位
        async function getResult() {
            const response = await fetch('@Url.Content("~/Store/Reserve/")', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    "Content-Type": "application/json; charset=utf-8"
                },
                body: JSON.stringify({
                    StoreId: @ViewBag.Id,
                    Date: dateControl.value,
                    Time: time.value,
                    MemberId: @ViewBag.mid,
                    NumOfPeople: nofp.value
                })
            });//fetch結束
            const datas = await response.json();
            if (datas.success === "false" && datas.errorType === 1) {
                alert(`不好意思：該時段已客滿，請重新選擇或更換時段，謝謝。`);
            }
            else if (datas.success === "false" && datas.errorType === 2) {
                alert(`不好意思：您所選擇的人數已超過該時段的上限(剩餘座位:${datas.numRemain})，請重新選擇人數或更換時段，謝謝。`);
            }
            else if (datas.success === "true") {
                alert("訂位成功！");
                window.location.replace('@Url.Content("~/Store/Restaurant?id=")' + @ViewBag.Id);
            }
            else {
                alert("失敗");
            }
        }; //getResult結束

        for (var i = 0; i < radio.length; i++) {
            time.value = radio[i].getAttribute("data-hour") + radio[i].getAttribute("data-min");
            getState(i);
        }// 判斷各時段訂位人數是否超過、並顯示泡泡框

        async function getState(i) {
            const response = await fetch('@Url.Content("~/Store/IfSeatsOver/")', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({
                    StoreId: @ViewBag.Id,
                    Date: dateControl.value,
                    Time: time.value,
                    MemberId: @ViewBag.mid,
                })
            });//fetch結束
            const datas = await response.json();
            if (datas.success === "false") {
                radio[i].disabled = true;
                span[i].innerHTML = `無剩餘空位`;
            }
            else {
                let seat = datas.numRemain;
                radio[i].removeAttribute("disabled");
                span[i].innerHTML = `剩餘空位：` + seat;
            }
        };//getState結束

        dateControl.addEventListener('input', function () {
            for (var i = 0; i < radio.length; i++) {
                time.value = radio[i].getAttribute("data-hour") + radio[i].getAttribute("data-min");
                getState(i);
            }
        });//日期變更時，重新判斷判斷各時段訂位人數


    </script>
}