@model IEnumerable<prjShanLiang.Models.Store>

@{
    ViewData["Title"] = "Restaurant";
}
<link rel="stylesheet" href="~/css/Restaurant.css" />

@foreach (var item in Model)
{
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center section-bg">
        <div class="container">
            <div class="row justify-content-between gy-5">
                <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                    <h2 data-aos="fade-up">@Html.DisplayFor(modelItem => item.RestaurantName)</h2>
                    <p data-aos="fade-up" data-aos-delay="100">@item.StoreEvaluates.FirstOrDefault()?.Comments</p>
                </div>
                <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                    <img src="~/Images/@item.StoreDecorationImages.FirstOrDefault()?.ImagePath" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300" />
                </div>
            </div>
        </div>
    </section>

    <!-- End Hero Section -->
    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">
                    <div class="col-lg-8 position-relative about-img" @*style="background: url('@Url.Content("~/assets/img/about.jpg")') ;"*@ data-aos="fade-up" data-aos-delay="150">
                        <div class="st1">
                            <div class="rating">
                                <div class="vertical"><i class="bi bi-suit-heart ic-t"></i><span>@item.MemberActions.Where(x => x.ActionId == 2 && x.StoreId == ViewBag.Id).Count()</span></div>
                                <div class="vertical"><i class="bi bi-chat-left ic-t"></i><span>@item.StoreEvaluates.Where(x => x.StoreId == ViewBag.Id).Count()</span></div>
                                <div class="vertical rating"><label id="star"></label></div>
                            </div>
                        </div>
                        <br>
                        <hr>  <!-- 分隔線 -->
                        <div class="st1">
                            <label class="t1">地址</label>
                            <label>@Html.DisplayFor(modelItem => item.RestaurantAddress)</label>
                        </div>
                        <hr>  <!-- 分隔線 -->
                        <div class="st1">
                            <label class="t1">連絡電話</label>
                            <label>@Html.DisplayFor(modelItem => item.RestaurantPhone)</label>
                        </div>
                        <hr>  <!-- 分隔線 -->
                        <div class="st1">
                            <label class="t1">營業時間</label>
                            <label>@Html.DisplayFor(modelItem => item.OpeningTime) - @Html.DisplayFor(modelItem => item.ClosingTime)</label>
                        </div>
                        <hr>  <!-- 分隔線 -->
                        <div class="st1">
                            <label class="t1">電子郵件</label>
                            <label>@Html.DisplayFor(modelItem => item.StoreMail)</label>
                        </div>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Seats)
                                    </td>
                                    <td>
                                        <a href="@Html.DisplayFor(modelItem => item.Website)">個人網站</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rating)
                                    </td>
                                    <td>
                                        @Html.ActionLink("我要訂位", "Reserve", new { id=item.StoreId })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="300">
                        <div class="content ps-0 ps-lg-5 why-us">
                            <div class="why-box mid-flex">
                                <div class="more-btn">
                                    <a class="" asp-area="" asp-controller="Store" asp-action="Share"><i class="bi bi-share"></i>分享<i class="bx bx-chevron-right"></i></a>
                                </div>
                                <div class="more-btn">
                                    <a class="" asp-area="" asp-controller="Store" asp-action="Comment"><i class="bi bi-chat-left"></i>評論<i class="bx bx-chevron-right"></i></a>
                                </div>
                                <div class="more-btn">
                                    <a class="" asp-area="" asp-controller="Store" asp-action="Favorate"><i class="bi bi-suit-heart"></i>@*<i class="bi bi-suit-heart-fill"></i>*@收藏<i class="bx bx-chevron-right"></i></a>
                                </div>
                            </div>

                            <div class="why-box mid-flex shopBook">
                                <div class="more-btn">
                                    <a class="" asp-area="" asp-controller="Store" asp-action="Reserve"><i class="bi bi-calendar-event"></i>線上預訂<i class="bx bx-chevron-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

    </main>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <p>餐廳位置</p>
            </div>
            <div class="mb-3">
                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1278.101707603652!2d121.54386081424009!3d25.033478882048225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abd379a5ec97%3A0xedc006d25a9e35df!2z6LOH5bGV5ZyL6Zqb6IKh5Lu95pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1682580771029!5m2!1szh-TW!2stw" frameborder="0" allowfullscreen></iframe>
            </div><!-- End Google Maps -->
        </div>
    </section>

    <button onclick="topFunction()" id="myBtn" title="回頁首">^</button>
    <script src="~/js/Restaurant.js"></script>

    @section Scripts{
    <script>
        const star = document.querySelector('#star');
        function getStar(){
            for (let i = 1; i <= @Html.DisplayFor(modelItem => item.Rating) ; i++) {
                star.innerHTML += "★";
            }
            for (let i = 1; i <= (5-@Html.DisplayFor(modelItem => item.Rating)) ; i++) {
                star.innerHTML += "☆";
            }
        }
        getStar();        
    </script>
}

}