@model Tuple<List<prjShanLiang.Models.Store>, List<prjShanLiang.Models.StoreEvaluate>>

@{
    ViewData["Title"] = "膳糧";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
</div>

@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
<input type="submit" value="查詢">
}

<style>
    .text {
        color: blueviolet;
    }

    .item {
        width: 1000px;
        height: 600px;
    }

</style>


<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- 輪播指示器 -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Item1.Count; i++)
        {
            <li data-target="#carousel-example-generic" data-slide-to="@i" @(i == 0 ? "class=active" : "")></li>
        }
    </ol>

    <!-- 輪播內容 -->
    <div class="carousel-inner" role="listbox">
        @foreach (var advertisement in Model.Item1)
        {
            <div class="item @(advertisement == Model.Item1.First() ? "active" : "")">

                <a href="@advertisement.Website" target="_self"><img src="data:image/jpeg;base64,@(System.Convert.ToBase64String(advertisement.StoreImage))" /></a>
                <div class="carousel-caption">
                    <h3>@advertisement.RestaurantName</h3>
                    <p>@advertisement.RestaurantPhone</p>

                </div>
            </div>

        }
    </div>


    <!-- 左右箭頭 -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div style="background-color:aqua" class="text">
    @foreach (var item in Model.Item2)
    {
        <div>@item.MemberId</div>
        <div>@item.Comments</div>
        <div>@item.Rating</div>
        <div>@item.EvaluateDate</div>
    }





</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 100 // 設置自動切換時間為3秒
        })
    });
</script>
