@model IEnumerable<prjShanLiang.Models.Admin>

@{
    ViewData["Title"] = "List";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>管理員資料一覽表</h1>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">

        <table id="datatablesSimple">
            <a asp-action="Create">新增帳號</a>
            <thead>
                <tr>
                    <th>管理員編號</th>
                    <th>管理員帳號</th>
                    <th>管理員權限</th>
                    <th>設定</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model){
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@Html.DisplayFor(modelItem => item.AdminName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Identification)</td>
                            <td>
                                @Html.ActionLink("Edit", "修改", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "刪除", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                      }}
                    </tbody>
        </table>
    </div>
</div>

@*@section Scripts{
<script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

</script>
}*@

@section Scripts{
<script>
        $(document).ready(function () {
            $('#datatablesSimple').DataTable({

                "language": {
                    "infoEmpty": "顯示第 0 至 0 項結果，共 0 項"
                }
            });
        });
</script>
}