@model IEnumerable<prjShanLiang.Models.Blog>
@{
    ViewData["Title"] = "BloggerList";
}
<main id="main">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 style="font-size:30px">文章專欄</h1>
                    <p style ="font-size:20px">
                        <a asp-action="BloggerCreate">我要投稿</a>
                    </p>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->
        <p >
            @using (Html.BeginForm())
            {
                @:關鍵字 @Html.TextBox("txtKeyword") <input type="submit" value="查詢">
            }
        </p>
        <table class="table table-striped table-hover">
            <thead>
                <tr style="font-size:20px" >
                    <th>
                        編號
                    </th>
                    <th>
                        文章主題
                    </th>
                    <th>
                        參考圖片
                    </th>
                    <th>
                        城市
                    </th>
                    <th>
                        區
                    </th>
                    <th>
                        餐廳名稱
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr style="font-size:16px">
                            <td>
                        @count
                        </td>
                        <td>
                           @Html.ActionLink( item.BlogHeader, "BloggerDetail", new { id=item.BlogId })
                        </td>
                        <td>
                                <img src="~/Images/Blog/@item.BlogPic" width="160" height="90" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DistrictName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RestaurantName)
                        </td>
                        <td>
                                @Html.ActionLink("修改", "BloggerEdit", new { id=item.BlogId }) |
                                @Html.ActionLink("刪除", "BloggerDelete", "Blogger", new { id=item.BlogId }, new {onclick="return confirm('確定刪除嗎?')"})
                        </td>
                    </tr>
                }}
            </tbody>
        </table>
    </div>
</main>